#AcercaDeMi {
  background-color: #242635;
  position: relative;
  float: left;
  width: 100%;
  padding:  88px 15% 32px 15%;
  box-sizing: border-box;

}

#AcercaDeMi h1 {
  color: #fff;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 600;
}

#AcercaDeMi p {
  color: #e5e5e5;
  text-align: center;
  font-size: 18px;
}

.AcercaDeMiBloq {
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin-top: 32px;
}

.AcercaDeMiCont {
  position: relative;
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.AcercaDeMiLogo {
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.AcercaDeMiLogo img {
  position: relative;
  float: left;
  width: 30%;
  box-sizing: border-box;
  margin: 0% 35%;
}

.AcercaDeMiName {
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin-top: 16px;
}

.AcercaDeMiName h3 {
  color: #fff;
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.AcercaDeMiName h6 {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  color: #b5b5b5;
}

@media screen and (max-width: 360px) {
  #AcercaDeMi {
    padding: 64px 16px 32px 16px;
  }
  #AcercaDeMi p {
    font-size: 14px;
  }
  #AcercaDeMi h1 {
    font-size: 24px;
  }
  .AcercaDeMiName h3,
  .AcercaDeMiName h6 {
    font-size: 12px;
  }
}

@media screen and (min-width: 361px) and (max-width: 560px) {
  #AcercaDeMi {
    padding: 72px 24px 40px 24px;
  }
  #AcercaDeMi p {
    font-size: 16px;
  }
  #AcercaDeMi h1 {
    font-size: 28px;
  }
  .AcercaDeMiName h3,
  .AcercaDeMiName h6 {
    font-size: 14px;
  }
  .AcercaDeMiLogo img {
    width: 50%;
    margin: 0% 25%;
  }
}
