#Header {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.HeaderBackground {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  width: 60%;
  height: 85%;
  background: #242635;
}

.Menu {
  position: fixed;
  top: 0px;
  left: 0px;;
  background: #1f1d2c;
  display: block;
  width: 100%;
  box-sizing: border-box;
  z-index: 32;
}

.MenuBackground {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60%;
  height: 100%;
  z-index: -1;
  background: #242635;
}

.Menu button {
  position: relative;
  display: none;
  outline: none;
  border: none;
  width: 24px;
  height: 24px;
  float: right;
  margin: 12px;
  background: transparent;
  cursor: pointer;
}

.Menu ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
  width: 100%;
  position: relative;
  float: left;
  box-sizing: border-box;
}

.Menu a {
  color: #ffff;
  width: auto;
  margin: 16px;
  height: 24px;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  float: left;
  position: relative;
}

.Menu a.activo {
  color: #f0a700;
}

@media screen and (max-width: 721px) {
  .HeaderBackground {
    width: 75%;
  }

  .MenuBackground {
    width: 75%;
  }

  .Menu button {
    display: block;
  }

  .Menu ul {
    display: block;
    width: 60%;
    margin-left: 40%;
    height: 0px;
    overflow: hidden;
    transition: height 320ms 0ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .Menu ul.show {
    height: 356px;
  } 

  .Menu ul li {
    position: relative;
    display: block;
    width: 100%;
    float: left;
  }

  .Menu ul li a {
    float: right;
  }
}
