#MiPortafolio {
  color: #ffff;
  margin-bottom: 10px;
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 100%;
  padding: 32px 10%;
}

#MiPortafolio h1 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
}

.MiPortafolioBloq,
.MiPortafolioCont {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 100%;
}

.MiPortafolioCont {
  width: 50%;
  margin-top: 32px;
}

.MiPortafolioCont.Rigth {
  float: right;
}

.MiPortafolioName,
.MiPortafolioImagen,
.MiPortafolioImagen img {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 100%;
}

.MiPortafolioImagen img {
  transform: translateY(16px);
}

.MiPortafolioName {
  margin-top: 48px;
  padding: 0px 16px;
  box-sizing: border-box;
}

.MiPortafolioImagen {
  background-color: #f0a700;
  padding: 0px 16px;
  box-sizing: border-box;
  width: 100%;
}

.MiPortafolioCont.Rigth .MiPortafolioImagen {
  background-color: #242635;
}

@media screen and (max-width: 401px) {
  #MiPortafolio {
    padding: 16px;
  }

  .MiPortafolioCont {
    width: 75%;
  }

  .MiPortafolioImagen {
    padding: 0px 8px;
  }
}
